@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --color-efg-yellow: #fcbd2a;
  --color-efg-blue: #1e60ad;
  --color-neutral-75: #f7f7f7;
  --color-efg-main: #fcbd2a;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    font-family: var(--font-roboto), sans-serif;
  }
}

.tier-header {
  position: relative;
  overflow: hidden;
}
.tier-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    45deg,
    transparent 25%,
    rgba(255, 255, 255, 0.40) 50%,
    transparent 75%
  );
  background-size: 250% 250%;
  background-repeat: no-repeat;
  opacity: 1; /* always visible */
  animation: shine 2.5s linear infinite;
  pointer-events: none;
  will-change: background-position;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -100% 0;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}

.fade-in {
  @apply opacity-0;
  animation: fadeIn 1s forwards;
  animation-delay: var(--fade-delay, 0s); /* Default to 0s if not set */
}

.fade-in-100 {
  --fade-delay: 0.1s;
}
.fade-in-200 {
  --fade-delay: 0.2s;
}
.fade-in-300 {
  --fade-delay: 0.3s;
}
.fade-in-400 {
  --fade-delay: 0.4s;
}
.fade-in-500 {
  --fade-delay: 0.5s;
}
.fade-in-600 {
  --fade-delay: 0.6s;
}
.fade-in-700 {
  --fade-delay: 0.7s;
} 
.fade-in-800 {
  --fade-delay: 0.8s;
}
.fade-in-900 {
  --fade-delay: 0.9s;
}
.fade-in-1000 {
  --fade-delay: 1s;
}

.card {
  position: relative;
  background: #15213a; /* your card bg */
  border-radius: 16px;
  overflow: hidden;
  padding: 2rem;
  color: white;
}



.efg-checkbox {
  @apply data-[state=checked]:bg-efg-yellow data-[state=checked]:border-efg-yellow data-[state=checked]:text-neutral-800 cursor-pointer focus-visible:ring-1 focus-visible:ring-efg-yellow focus-visible:border-efg-yellow  bg-white;
}

.efg-input {
  @apply focus-visible:ring-1 focus-visible:ring-efg-yellow focus-visible:border-efg-yellow shadow-none border-input bg-white;
}

.eft-select-trigger{
  @apply border-input focus-visible:ring-1 focus-visible:ring-efg-yellow focus-visible:border-efg-yellow shadow-none border-input bg-white;
}



@keyframes fadeRight {
  from {
    opacity: 0;
   
    transform: translateX(-50px);
  }
  to {
    opacity: 1;

    transform: translateX(0);
  }
}

.fade-right {
  @apply opacity-0;
  animation: fadeRight 1s forwards;
  animation-delay: var(--fade-delay, 0s); /* Default to 0s if not set */
}

.fade-right-100 {
  --fade-delay: 0.1s;
}
.fade-right-200 {
  --fade-delay: 0.2s;
}
.fade-right-300 {
  --fade-delay: 0.3s;
}
.fade-right-400 {
  --fade-delay: 0.4s;
}
.fade-right-500 {
  --fade-delay: 0.5s;
}
.fade-right-600 {
  --fade-delay: 0.6s;
}
.fade-right-700 {
  --fade-delay: 0.7s;
}
.fade-right-800 {
  --fade-delay: 0.8s;
}
.fade-right-900 {
  --fade-delay: 0.9s;
}
.fade-right-1000 {
  --fade-delay: 1s;
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}
.strike {
  position: relative;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: red;
  animation-name: strike;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}





@keyframes fadeLeft {
  from {

    transform: translateY(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }
}

.fade-left {
  @apply opacity-0;
  animation: fadeLeft 1s forwards;
  animation-delay: var(--fade-delay, 0s); /* Default to 0s if not set */
}

.fade-left-100 {
  --fade-delay: 0.1s;
}
.fade-left-200 {
  --fade-delay: 0.2s;
}
.fade-left-300 {
  --fade-delay: 0.3s;
}
.fade-left-400 {
  --fade-delay: 0.4s;
}
.fade-left-500 {
  --fade-delay: 0.5s;
}
.fade-left-600 {
  --fade-delay: 0.6s;
}
.fade-left-700 {
  --fade-delay: 0.7s;
}
.fade-left-800 {
  --fade-delay: 0.8s;
}
.fade-left-900 {
  --fade-delay: 0.9s;
}
.fade-left-1000 {
  --fade-delay: 1s;
}


@keyframes fadeUP {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }
}


.fade-up {
  @apply opacity-0;
  animation: fadeUP 1s forwards;
  animation-delay: var(--fade-delay, 0s); /* Default to 0s if not set */
}

.fade-up-100 {
  --fade-delay: 0.1s;
}
.fade-up-200 {
  --fade-delay: 0.2s;
}
.fade-up-300 {
  --fade-delay: 0.3s;
}
.fade-up-400 {
  --fade-delay: 0.4s;
}
.fade-up-500 {
  --fade-delay: 0.5s;
}
.fade-up-600 {
  --fade-delay: 0.6s;
}
.fade-up-700 {
  --fade-delay: 0.7s;
}
.fade-up-800 {
  --fade-delay: 0.8s;
}
.fade-up-900 {
  --fade-delay: 0.9s;
}
.fade-up-1000 {
  --fade-delay: 1s;
}